@{
    ViewData["Title"] = "About Us";
}
<div style="background-color: rgb(65, 65, 219);">
    <h1 style="text-align: center; color: rgb(245, 245, 245); padding: 1%;">ABOUT US</h1>
</div>
<div>
    <p style="padding: 50px; text-align: justify;">Seeking to give expression to Swami Vivekananda ideal of Man-making education, the Ramakrishna Vidyarthi Mandiram was started in 1943. It is a modern students home in the setting of an ancient Brahmacharya Ashrama. The aim of the Mandiram is to supplement the academic education of the university, by imparting a training conducive to an all round growth of the students. The objective is to provide a suitable Home for deserving boys outside Bangalore and desiring to profit by the care and guidance of the Mandiram.</p>
</div>
<div style="background-color: rgb(65, 65, 219);">
    <h1 style="text-align: center; color: rgb(245, 245, 245); padding: 1%;">HISTORY</h1>
</div>
<div id="history">
    <partial name="_history"/>
</div>
<div id="documentary" style="background-color: rgb(65, 65, 219); padding:2px;">
    <div class="container">
        <div class="row align-items-center" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            <div class="col">
                <h1 style="text-align: left; color: rgb(245, 245, 245);">Watch Documentary</h1>
            </div>
            <div class="col">
                <div class="w-auto p-3">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/1QWNHYnUNXQ" title="Mandiram Kathana | SRVM Documentary" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="padding: 2%;"></iframe>
           </div>    
            </div>
            </div>
        </div>
    </div>
</div>